<form (ngSubmit)="createAccount(account.username,account.password,account.firstname,account.lastname)" class="Create-Account-Form" >
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input type="text" [(ngModel)]="account.firstname" name="firstname" class="form-control" />
        <label class="form-label">First name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input type="text" [(ngModel)]="account.lastname" name="lastname" class="form-control" />
        <label class="form-label">Last name</label>
      </div>
    </div>
  </div>

  <!-- username input -->
  <div class="form-outline mb-4">
    <input type="username" [(ngModel)]="account.username" name="username" class="form-control" />
    <label class="form-label">Username: </label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" [(ngModel)]="account.password" name="password" class="form-control" />
    <label class="form-label">Password</label>
  </div>



  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4" >Sign up</button>
</form>
